extends layout
    
block content
  .usa-alert.usa-alert-info.alert-custom
    .usa-alert-body
      p.usa-alert-text This site is currently in alpha.
  #container
    h1= title
    p This is a test bot application for HUD.gov. This bot cannot give assistance. Please go to HUD.gov for help.
    iframe#bot-wrapper(src='https://webchat.botframework.com/embed/HUDRentalAssistanceBot?s=vskxpUKB74k.cwA.HeI.GQM0CtlCtFtZCt5uA16Wv8uHgeK-tQTQO7imQEucORw')
    p
      | Built with 
      a(href='https://dev.botframework.com', target='_blank') Microsoft Bot Framework
      | , 
      a(href='https://qnamaker.ai', target='_blank') QnAMaker
      | , 
      a(href='https://nodejs.org/en/', target='_blank') NodeJS
      | , 
      a(href='https://expressjs.com', target='_blank') Express
      | . Source on 
      a(href='https://github.com/HUD-Digital-Services/customer-service-bot', target='_blank') GitHub
      | . Hosted on 
      a(href='https://www.heroku.com', target='_blank') Heroku
      | .



