extends layout
    
block content
  .usa-grid
    .usa-width-one-third
      img(width='100px;', height='100px;', src='/images/hudseal.svg', alt='Seal of the Department of Housing and Urban Development')
    .usa-width-two-thirds
      p.usa-alert-text This site is currently in alpha.
  #container
    h1= title
    p This is a test bot and cannot give assistance. Please go to HUD.gov for help.
    p Say hello to wake up the bot!
    iframe#bot-wrapper(src='https://webchat.botframework.com/embed/HUDRentalAssistanceBot?s=vskxpUKB74k.cwA.HeI.GQM0CtlCtFtZCt5uA16Wv8uHgeK-tQTQO7imQEucORw')

