extends layout
    
block content
    div#agency-header-bar
        .usa-grid
            .usa-width-one-whole
                img(width='50px;', height='50px;', src='/images/hudseal.svg', alt='Seal of the Department of Housing and Urban Development')
                h3 U.S. Department of Housing and Urban Development    
    .usa-grid
        .usa-alert.usa-alert-info
            .usa-alert-body
                h3.usa-alert-heading  This is an alpha service. 
                p.usa-alert-text
                    | We need your 
                    a(target='_blank', href='https://www.surveymonkey.com/r/69FDG77') feedback to improve it.
    #container
        h1= title
        p
        | This is a test bot. If you need further assistance or are not finding what you are looking for, please go to 
        a(href='https://www.hud.gov', target='_blank') HUD.gov
        |  for help.
        iframe#bot-wrapper(src='https://webchat.botframework.com/embed/HUDRentalAssistanceBot?s=vskxpUKB74k.cwA.HeI.GQM0CtlCtFtZCt5uA16Wv8uHgeK-tQTQO7imQEucORw')